<h1>Evidence stravenek uživatele <%= @user.email %></h1>

<table>
  <thead>
  <tr>
    <th>Měsíc</th>
    <th>Počet stravenek</th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>

        <td><%= t("date.month_names")[ticket.month.month].capitalize %> </td>

        <% if ticket.locked %>
            <td><button disabled>Zamknuto</button></td>
        <% else %>
            <td>
              <%= form_for(ticket, remote: true) do |f| %>

                  <%= f.number_field :count, min: 0 %>
                  <%= f.submit("Uložit") %>

              <% end %>
            </td>
        <% end %>

        <td>
          <% unless ticket.locked %>
              <%= form_for(ticket, remote: true) do |f| %>

                  <%= f.hidden_field :locked, value: 1 %>
                  <%= f.submit("Uzamknout") %>

              <% end %>
          <% end %>


        </td>

      </tr>
  <% end %>
  </tbody>
</table>
