<nav class="navbar navbar-inverse container">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Evidence stravenek</span>
    </div>
    <ul class="nav navbar-nav navbar-right list-inline">

      <% if user_signed_in? %>
          <li>
            <a><span class="glyphicon glyphicon-user"></span><%= @user.email %></a>
          </li>

          <li>
            <%= link_to(destroy_user_session_path, :method => :delete) do %>
                <span class="glyphicon glyphicon-log-out"></span>Logout
            <% end %>
          </li>
      <% else %>
          <li>
            <%= link_to(new_user_session_path) do %>
                <span class="glyphicon glyphicon-log-in"></span>Login
            <% end %>
          </li>
      <% end %>

      <li>
        <ul class="nav navbar-nav navbar-right list-inline">
          <li>
            <%= link_to(tickets_path(year: @year - 1)) do %>
                <span class="glyphicon glyphicon-minus"></span>
            <% end %>
          </li>

          <li>
            <!-- Tady změnit link na normál aby to bylo jiný -->
            <a href="#"><span class="glyphicon glyphicon-calendar"></span>Rok: <%= @year %></a>
          </li>


          <li>
            <%= link_to(tickets_path(year: @year + 1)) do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </li>

        </ul>
      </li>

    </ul>
  </div>
</nav>

<div class="container center">

  <h1 class="center heading">Evidence stravenek uživatele</h1>

  <table class="times table table-bordered table-striped subcontentTable">
    <thead>
    <tr>
      <th class="center">Měsíc</th>
      <th class="center">Počet stravenek</th>
      <th class="center">Uložit volbu</th>
    </tr>
    </thead>

    <tbody>
    <% @tickets.each do |ticket| %>
        <tr>

          <td><%= t("date.month_names")[ticket.month.month].capitalize %> </td>

          <% if ticket.locked %>
              <td colspan="2">
                <button class="btn btn-primary disabled" disabled>Zamknuto</button>
              </td>
          <% else %>
              <td>
                <%= form_for(ticket, remote: true) do |f| %>

                    <%= f.number_field :count, min: 0 %>
                    <%= f.submit("Uložit") %>

                <% end %>
              </td>
          <% end %>


          <% unless ticket.locked %>
              <td>
                <%= form_for(ticket, remote: true) do |f| %>

                    <%= f.hidden_field :locked, value: 1 %>
                    <%= f.submit("Uzamknout", class: 'btn btn-primary active') %>

                <% end %>
              </td>
          <% end %>

        </tr>
    <% end %>
    </tbody>

    <% if @user.admin? %>
        <tfoot>
        <tr>
          <td colspan="2">
            <%= link_to "Celkový přehled", users_path() %>
          </td>
          <td>
            <%= link_to "Export do csv", tickets_path(format: :csv) %>
          </td>
        </tr>
        </tfoot>
    <% end %>
  </table>
</div>

<div id="footer">
  <div class="container center">
    <dl class="text-muted">
      <dt>Copyright</dt>
      <dd>© 2015 - 2016</dd>
      <dt>Webmaster</dt>
      <dd>Kubín Petr</dd>
    </dl>
  </div>
</div>